.intro {
    background-color: var(--intro-and-email-sign-up-background);
    background-image: url('../images/bg-curvy-mobile.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    display: grid;
    background-size: 100% 30%;
    padding: 2rem;
    
  }

  .intro img {
    justify-self: center;
  }
  
  @media (min-width: 720px) {
      .intro {
          background-image: url('../images/bg-curvy-desktop.svg');
      }

      h1 {
        max-width: 50rem;
        justify-self: center;
      }

      .intro p {
        max-width: 45rem;
        justify-self: center;
      }

      /* .get-started-btn {
        padding: 2.5rem rem;
      } */
  }
  
  h1 {
    font-size: clamp(1.75rem, 1.2838rem + 1.9892vw, 2.9rem);
    font-weight: var(--fw-bold);
    font-family: var(--font-family-headings);
    text-align: center;
    color: var(--White);
    line-height: 1.35;
    padding-top: 2rem;
  }
  
  .intro p {
    padding-block: 1rem 2rem;
  }
  
  .get-started-btn {
    color: var(--White);
    font-weight: var(--fw-bold);
    justify-self: center;
    padding: 
        1.2rem 
        6.7rem;
    background: linear-gradient(
      to right,
      var(--Cyan-inside-call-to-action-gradient),
      var(--Blue-inside-call-to-action-gradient)
    );
    border: none;
    border-radius: 5rem;
    box-shadow: 0.1rem 0.2rem 0.7rem -0.3rem #000;
  }

  .get-started-btn:hover {
    cursor: pointer;
    background: var(--Cyan-inside-call-to-action-gradient);
  }
  
  @media (min-width: 600px) {
    .get-started-btn {
    font-size: 1.2rem;
    }

    .intro p {
      padding-top: 3rem;
      padding-bottom: 2.5rem;
      font-size: 1.46rem;
    }
    
    .intro img {
      margin-bottom: 1rem;
    }
  }