.reviews {
    padding-inline: 3rem;
    padding-bottom: 21rem;
    position: relative;
    display: grid;
  }
  
  .testimonials-cell {
    font-size: 0.75rem;
    background-color: var(--testimonials-background-);
    border-radius: 0.4rem;
    margin-bottom: 1.6rem;
    padding: 2rem 1.5rem;
    box-shadow: 0.1rem 0.2rem 0.7rem -0.3rem;
  }
  .testimonials-cell:nth-child(1) {
    position: relative;
  }

  .quotes {
    position: absolute;
    width: 4.5rem;
    top: -2.7rem;
    left: -1rem;
    z-index: -1;
  }

  @media (min-width: 600px) and (max-width: 999px) {
    .testimonials-cell {
      margin-inline: clamp(0rem, -19.5rem + 45.7143vw, 10rem);
    }
  }
  
  .profile {
    color: var(--White);
    display: grid;
    grid-template-columns: 2rem 1fr;
    column-gap: 0.5rem;
    padding-top: 1.2rem;
  }
  
  .profile img {
    grid-row: 1/3;
    width: 1.9rem;
    border-radius: 2rem;
    overflow: hidden;
  }
  
  .profile h3 {
    font-weight: var(--fw-bold);
    padding-bottom: 0.15rem;
  }
  
  .profile h4 {
    font-size: 0.55rem;
    grid-column: 2;
    opacity: 0.6;
  }
  
  @media (min-width: 1000px) {
    .reviews {
      place-items: center;
      place-content: center;
    grid-template-columns: repeat(3, auto);
    column-gap: 3rem;
    padding-inline: 10rem;
    padding-bottom: 23.5rem;
    }
  
    .testimonials-cell {
      padding-top: 2.5rem;
      max-width: 26rem;
    }
  
    .testimonials-cell p {
      font-size: 1.13rem;
    }
  
    .profile {
      padding-top: 1.5rem;
    }
  }