:root {
  /*                      ### Colors area ###                       */
  /* Primary */

  --intro-and-email-sign-up-background: hsl(217, 28%, 15%);
  --main-background: hsl(218, 28%, 13%);
  --footer-background: hsl(216, 53%, 9%);
  --testimonials-background-: hsl(219, 30%, 18%);

  /* Accent */

  --Cyan-inside-call-to-action-gradient: hsl(176, 68%, 64%);
  --Blue-inside-call-to-action-gradient: hsl(198, 60%, 50%);
  --Light-Red-error-: hsl(0, 100%, 63%);

  /* Neutral */

  --White: hsl(0, 0%, 100%);

  /*                      ### Font area ###                        */

  --font-family-headings: 'Raleway', sans-serif;
  --font-family-body: 'Open Sans', sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-400: 1.125rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 1.75rem;
  --fs-800: 2rem;
  --fs-850: 2.5rem;
  --fs-900: 5rem;

  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}

.align-start {
  text-align: start;
}

a,
a:link,
a:hover,
a:focus {
  text-decoration: none;
  color: white;
}

body {
  background-color: var(--main-background);
  min-height: 100vh;
  min-width: 100vw;
  font-family: var(--font-family-body);
  display: grid;
  place-content: center;
}

h2 {
  font-family: var(--font-family-headings);
  font-size: var(--fs-500);
  color: var(--White);
  font-weight: var(--fw-bold);
  text-align: center;
}

p {
  color: white;
  opacity: 0.7;
  text-align: center;
}


