@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

body {
    margin: 0;
    background-color: var(--Light-gray);
    font-family: 'Outfit', sans-serif;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.frame {
    padding-top: 160px;
    padding-inline: 40px;
    margin: auto;
}

.container {
    width: 280px;
    margin: auto;
    background-color: var(--White);
    border-radius: 5%;
    padding: 16px;
}

img {
    max-width: 100%;
    border-radius: 5%;
}

h1 {
    color: var(--Dark-blue);
    font-size: 22px;
    text-align: center;
}

p {
    color: var(--Grayish-blue);
    font-size: 15px;
    padding: 0 15px 0 15px;
    text-align: center;
}

@
